{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>ゆっくり解説ジェネレーター</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'proz/css/index.css' %}">
    <script type="text/javascript" src="//typesquare.com/3/tsst/script/ja/typesquare.js?652cc483746448fb97c61323ac1e02e5" charset="utf-8"></script>
  </head>
  <body>
    <div class="hole">
      <div class="title">    
        <div class="name">
          <img class="image top" src="media/pages/zuntext2.png" alt="ずんだクリエイト">
          <img class="image" src="media/pages/zuntext_c.png" alt="ずんだクリエイト">

          <button class="button">始める</button>
        </div>
        <div class="balloon">
          可愛いのはボクの方なのだ。偽物がでしゃばるななのだ。
          <br><br>
          【ついで説明】↓に行くと動画を作れるのだ。
        </div>
        <img src="media/pages/ずんだもん立ち絵素材V3_0000.png" alt="ずんだもん立ち絵素材V3_0000" width="30%" height="30%">
      </div> 

      <h1 class="movie">動画を作成</h1>
      <form method="post" class="generate">
        {% csrf_token %}
        <p>何を解説してもらいたいかテーマを入れてください</p>
        <input type="text" id="zunda_input" name="zunda_input" placeholder="ずんだもんについて" required>
      </form>  

      <video width="320" height="240" controls>
        <source src="media/movie/complete.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      
    </div>
  
  </body>
</html>